.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(./checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;

	position: relative;
	top: 2px;
}

.radio {
	background: url(./radio.png) no-repeat;
}

input.styled { display: none; }

.disabled { opacity: 0.5; filter: alpha(opacity=50); }
