/* $Id$ */

.ajp-customcheckbox-checkbox, .ajp-customcheckbox-radio {
	width: 13px;
	height: 13px;
	margin: 0 5px 0 0;
	background: url(checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;

	position: relative;
	top: 2px;
}

.ajp-customcheckbox-radio {
	background: url(radio.png) no-repeat;
}

input.ajp-customcheckbox { display: none; }

.ajp-customcheckbox-disabled { opacity: 0.4; filter: alpha(opacity=40); }
