/* $Id$ */

/*
	ajp-slider: common logic
*/

.ajp-slider {
	overflow: visible;
}

.ajp-slider > .control {
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
}

/*
	ajp-slider: common style
*/

.ajp-slider > .line {
	border-top-color: #ccc;
	border-top-style: solid;
}

.ajp-slider > .control {
	background: url(slider.png) 0 0 no-repeat;
}

/*
	ajp-slider: sizes
*/

.ajp-slider {
	width: 300px;
}

.ajp-slider > .control {
	width: 70px;
	height: 20px;
	margin-top: -10px; /* half of height */
}

.ajp-slider > .line {
	height: 0px;
	border-top-width: 1px;
	margin-top: 10px; /* half of control height */
}
