/* $Id$ */

/*
	ajp-scrollable: common logic
*/

.ajp-scrollable {
	float: left;
}

.ajp-scrollable > ul > li {
	list-style: none;
	position: relative;
}

.ajp-scrollable-next, .ajp-scrollable-prev {
	cursor: pointer;
	float: left;
}

/*
	ajp-scrollable: common style
*/

.ajp-scrollable-next {
	background: url(next.png);
}

.ajp-scrollable-prev {
	background: url(prev.png);
}

/*
	ajp-scrollable: sizes
*/

.ajp-scrollable {
	width: 580px;
	height: 200px;
}

.ajp-scrollable > ul > li {
	margin: 0;
	padding: 0;
	left: -40px; /* reset margin of list item */
}

.ajp-scrollable > ul > li > div {
	margin: 0 20px;
}

.ajp-scrollable-next, .ajp-scrollable-prev {
	width: 30px;
	height: 30px;
	margin-top: 80px;
}

.ajp-scrollable-prev {
	margin-left: 10px;
}
