/* $Id$ */

.ajp-datepicker {
	border: 1px solid #eee;
}

.ajp-datepicker > .ajp-datepicker-month > tbody > tr > th, .ajp-datepicker > .ajp-datepicker-month > tbody > tr > td {
	text-align: center;
	vertical-align: middle;
	width: 30px;
	height: 20px;
	border: 1px solid #eee;
}

.ajp-datepicker > .ajp-datepicker-month > tbody > tr > td {
	cursor: pointer;
}

.ajp-datepicker > .ajp-datepicker-month > tbody > tr > td:hover {
	background: #eee;
}

.ajp-datepicker > .ajp-datepicker-header {
	background: #ccc url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAYAAADtlXTHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAfSURBVAiZY/j37/t/pv///zNACAYGBgasXJwStFAHAIlSPPR0066nAAAAAElFTkSuQmCC') 0 0 repeat-x;
	height: 30px;
}

.ajp-datepicker > .ajp-datepicker-header > .ajp-datepicker-month-name {
	font-weight: bold;
	width: 200px;
	float: left;
	margin: 5px;
}

.ajp-datepicker > .ajp-datepicker-header > .ajp-datepicker-prev, .ajp-datepicker > .ajp-datepicker-header > .ajp-datepicker-next {
	background: url(prev.png);
	width: 20px;
	height: 20px;
	cursor: pointer;
	float: left;
	margin: 5px;
}

.ajp-datepicker > .ajp-datepicker-header > .ajp-datepicker-next {
	background: url(next.png);
	float: right;
	clear: right;
}